* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    /* Inline one line  */
    display: inline-block;
    width: 40px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    text-align: end;
    padding: 30px;
    color: wheat;
    background-color: black;
}

li {
    display: inline;
    padding: 20px;
}

li:hover {
    color: violet;
    cursor: pointer;
}

/* //img is inline block */
/* //if want to change height and width of inline elements then change their display to block like anchor tag*/