@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.text-box {
    margin: 270px 516px 358px;
    text-align: center;
    flex-direction: column;
}